
html {
    font-family: "NanitoSans", sans-serif;
    scroll-behavior: smooth;
  }
.container {
    padding: 0 24px;
    margin: 0 auto;
    width: 100%;
    max-width: 1368px;
}
a {
    text-decoration: none;
    cursor: pointer;
    color: #FFF;
}
